#phone-form p, #phone-form input {
  font-size: 20px;
}

#phone-form {
  display: block;
  width: 40%;
  margin: 100px auto;
}

#phone-input {
  margin: auto 10px;
  border: none;
  border-bottom: 1px solid gray;
}

#phone-input:focus {
  outline: none;
  border-width: 2px;
}

#error-msg {
  text-align: center;
}

.err-highlight {
  color: red;
}

.success-highlight {
  color: green;
}
